$breakpoints: (
  media-300 : 300px,
  media-337 : 337px,
  media-390 : 390px,
  media-400 : 400px,
  media-440 : 440px,
  media-512 : 512px,
  media-576 : 576px,
  media-640 : 640px,
  media-672 : 672px,
  media-704 : 704px,
  media-768 : 768px,
  media-870 : 870px,
  media-947 : 947px,
  media-1024 : 1024px,
  media-1168 : 1168px,
  media-1280 : 1280px,
  // media-1600 : 1600px,
  // media-1900 : 1900px
);

$h1-font-sizes: (
  null : 24px,
  media-300 : 24px,
  media-390 : 28px,
  media-400 : 30px,
  media-512 : 36px,
  //media-576 : 36px,
  media-640 : 46px,
  media-704 : 52px,
  media-768 : 58px,
  media-870 : 64px,
  // media-1024: 68px,
  // media-1168: 76px,
  //media-1312 : 80px,
  // media-1600: 96px,
  // media-1900: 110px
);
$h2-font-sizes: (
  null : 16px,
  media-300 : 18px,
   media-400 : 20px,
  // media-512 : 18px,
  //media-576 : 36px,
  media-640 : 22px,
  media-704 : 24px,
  media-768 : 30px,
  media-870 : 36px,
  media-1024: 40px,
  // media-1168: 46px,
  // media-1312 : 50px,
  // media-1600: 56px,
  // media-1900: 60px
);
$h3-font-sizes: (
  null : 15px,
  //media-300 : 18px,
  media-400 : 18px,
  // media-512 : 30px,
  // media-576 : 36px,
  media-640 : 20px,
  media-704 : 22px,
  media-768 : 25px,
  media-870 : 30px,
  media-1024: 35px,
  media-1168: 40px,
  // media-1600: 50px,
  // media-1900: 56px
);
$star-font-sizes: (
  null : 15px,
  media-300 : 24px,
   media-400 : 28px,
   media-512 : 30px,
  // media-576 : 36px,
  media-640 : 20px,
  media-704 : 22px,
  media-768 : 25px,
  media-870 : 30px,
  media-1024: 35px,
  media-1168: 40px,
  // media-1600: 50px,
  // media-1900: 56px
);
$h4-font-sizes: (
  null : 14px,
  //media-300 : 18px,
  media-400 : 16px,
  // media-512 : 30px,
  // media-576 : 36px,
  media-640 : 18px,
  //media-704 : 20px,
  media-768 : 20px,
  //media-870 : 32px,
  media-1024: 28px,
  //media-1168: 42px
  // media-1600: 36px,
  // media-1900: 42px
);
$h5-font-sizes: (
  null : 13px,
  //media-300 : 18px,
  media-400 : 15px,
  // media-512 : 30px,
  // media-576 : 36px,
  media-640 : 17px,
  //media-704 : 20px,
  media-768 : 18px,
  //media-870 : 32px,
  media-1024: 24px,
  //media-1168: 42px
  // media-1600: 30px,
  // media-1900: 36px
);
$p-font-sizes: (
  null : 11px,
  //media-300 : 12px,
  media-400 : 13px,
  media-512 : 14px,
  //media-576 : 18px,
  //media-640 : px,
  media-704 : 15px,
  media-768 : 16px,
  media-870 : 17px,
  media-1024: 19px,
  // media-1168: 21px,
  // media-1600: 23px,
  // media-1900: 24px
);
$hidden: (
  null : 7px,
  media-300 : 8px,
  media-337 : 8.5px,
  media-390 : 9px,
  media-400 : 11px,
  media-440 : 12px,
  media-512 : 13px,
  media-576 : 15px,
  media-640 : 16px,
  media-672 : 17px,
  media-704 : 18px,
  media-768 : 19px,
  media-870 : 22px,
  media-947 : 23px,
  media-1024: 25px,
  media-1168: 29px,
  // media-1280 : 29px,
  // media-1600: 23px,
  // media-1900: 24px
);


@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {

  @each $fs-breakpoint,
  $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }

    @else {

      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }

      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

h1 {
  @include font-size($h1-font-sizes);
}
[class^="large"]{
    @include font-size($h1-font-sizes);
}
h2 {
  @include font-size($h2-font-sizes)
}

h3  {
  @include font-size($h3-font-sizes)
}
.star  {
  @include font-size($star-font-sizes)
}
h4{
  @include font-size($h4-font-sizes)
}
h5 {
  @include font-size($h5-font-sizes)
}
p,input,/* placeholder, */select,textarea,button,span,div,li,ul,ol,a {
  @include font-size($p-font-sizes)
}
a[id*='large-']{
  @include font-size($h1-font-sizes);
}

