 
* {
    box-sizing: border-box;
    max-width: var(--max-width);
  }
 
  input[type=text], select, textarea {
    width: 90%;
    height: 10%;
    margin: .5% 1% .5% ;

    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .inputBtn{
    position: relative;
    width: 2%;
    min-width: 40px;
    padding: .5%;
    min-height: 14px;
    height: 12%;
   }
   
   .material-symbols-outlined {
     font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 24
   }
.appendBtn{
  padding: .5rem;
    margin: 1% ; 
    margin-left: 86%;
    background: transparent;
    border: none;
}

   .deleteBtn{
    position: relative;
    padding: .5rem;
    margin: 3% .5% -.6 ;
    top: .3rem;
    background: transparent;
    border: none;
   }
  .create input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  button.create {
    max-width: 33%;
  }
  h1{
    font-size:xx-large;
    text-align: center;
    color:#f5f842;
    margin-bottom: -9px;
    margin-top: 0;
  }
  form.newCat{
    margin-left:5%;
    margin-right:5%;
    width: 100%;
  }
  .MuiContainer-root{
    border: 1px solid white;
  }
  .container {
    border: .2em solid;
    border-style: inset;
    width: 100%;
  }
 
  .center {
    margin: auto;
    width: 50%;
    text-align: left;
  }
  .right {
    width: 20%;
    margin-top: 6px;
    text-align: right;
    margin: 2px;
  }
  .left {
    width: 20%;
    margin-top: 6px;
    padding-left: 1rem;
    text-align: left;
    margin: 2px;
  }
  .nameLable {
    top: 2rem;
  }
  #nameLable{
    width: fit-content;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #submitButton {
    position: relative;
    background-color: #fff;
    border: #434257;
    color: #434257;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    height: 2em;
    outline-style: solid;
    width: 8em;
    top: .1em;
    left: 0em;
    text-align: center;
  }

  #submitButton:hover {
    background-color: #45a049;
    
  }

  .displayTip {
    position: relative;
    top: 2rem;
    left: -1.5rem;
    background-color:transparent;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    font-size: medium;
    
  }
  
  .displayTip .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    position: relative;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
 
  
  #parent {
    width: calc(115px * 2);
    height: 85px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
  }
  
  .saveBtn {
    position: relative;
    float: left;
    width: 97px;
    height: 30%;
    top: 2rem;
    text-align: center;
    padding:0%;
    border-style: solid;
    border-radius: 5px;
    margin: 4px;
    margin-left: 14px;
    font-size: large;
    background-color: #fff;
  }
  
  .output {
    margin: auto;
    width: fit-content;
    font-size: large;
  }
  
  #msg {
    position: relative;
    top: 1rem;
    margin: auto;
    font-size: 12pt;
    background-color: none;
  
  }
 