$left-margin: 7%;
.App{
  width: 100%;
  
}
// .routes{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   width: 32%;
// }
[class^="large"]{
  position: relative;
    width: 32%;
    height: 40%;
    color:#062442;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    vertical-align: middle;
  }
  .large-center{
    background-color:#30ba52;
    left: .7%;
  }
  .large-left{
    background-color:#f5f842;
    left: .7%;
  }
  .large-right{
    background-color:darkorange;
    left: .7%;
  }
  .right-90 {
    float: right;
    width: 20%;
  }
  .header-title{
    position: relative;
    top: 10%;
    width: 20%;
  }
  #review-title{
    // position: relative;
    float: right;
    color: darkorange;
    left: 35%;
  }
  #show-view-title{
    color: #30ba52;
    left: -28%;
  }
  #category-title{
    color: #f5f842;
    left: -1%;
  }
  .categorTree{
    position: relative;
    left: 8%;
    margin-top: 2%;
  }
  @media screen and (max-width: 600px) {
    [class^="large"]{
      align-items: center;
      width: 32%;
      margin-left: .5%
    }
   
  }

@import "./review";
@import "./upon";
@import "font_responsive"