@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$left-margin: 7%;
$light-bgc: #e3e0dd;//rgb(232, 232, 222);
$dark-bgc: hsl(120, 42%, 9%);
$dark-border-color: hsl(120, 42%, 26%);
html {
  max-width: 98%;
  min-width: fit-content;
  overflow: scroll;
  font-family: Poppins;
  
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  float: none !important;
  width: 98%;
  // outline: 1px solid red;
  // overflow:auto;
}
:root {
  color-scheme: dark light;
}
@media screen and (prefers-color-scheme: dark) {
  p,a,h2,h3,h4,h5,h6,span,label/* ,:placeholder-shown */ {
    color: #f66809;
  }
  body,
  div.container {
    background-color: $dark-bgc;
    border: 1px solid white;
    border-style: solid;
    padding-bottom: 10rem;
  }
  .alt-color-1{color:#fafa37}
  .alt-color-2{color:#fcfc06}
  .exitIcon{
    background-color: $dark-bgc;
    background-image: url('/exit-white_75.png');//http://localhost:8081:
  }
}
@media screen and (prefers-color-scheme: light) {
  p,
  a,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  label,
  div,
  li,
  ul,
  ol,
  button,
  select,
  input,
  textarea {
    color: #501803;
  }
  body,
  div.container {
    background-color: $light-bgc;
    border: 3px solid rgb(0, 0, 0);
    padding-bottom: 10rem;
  }
  .alt-color-1{color:#f66809}
  .alt-color-2{color:#0a6120}
  .exitIcon{
    background-color: $light-bgc;
    background-image:  url('exit-black_75.png');
  }
  input{
    border-color: $dark-border-color;
    
  }
}
.container {
  min-height: 15rem;
}
.App {
  width: 100%;
}
.routes {
  display: flex;
  flex-flow: row space-around;
  max-width: 98%;
}
.hidden {
  visibility: hidden;
}
.exitIcon{
  background-repeat:  no-repeat;
  background-position: center;
  background-size: 40px 40px;
  border-style: none;
}
@mixin large {
  width: 100%;
  height: 90%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4),
    0 6px 10px 0 rgba(240, 7, 7, 0.19);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  text-align: center;
  vertical-align: middle;
  padding: 1% 0%;
  margin: 1% 0;
  color: #000;
}

#large-center {
  // color: #cfad02;
  background-color: #aa992c;
  left: 0.7%;
  @include large;
}

#large-right {
  // color: #94480a;
  background-color: #a8530d;
  left: 0.7%;
  @include large;
}
#large-left {
  // color: #2e7d42;
  background-color: #0a6120;
  left: 0.7%;
  @include large;
}
#large-left.pending {
  background-color: #8fd400;
  color: #000;
}
#large-left.active {
  background-color: #8fd400;
  color: #000;
}
#large-center.active {
  background-color: #fafa37;
  color: #000;
}
#large-right.active {
  background-color: #ff9933;
  color: #000;
}
#review-title {
  // position: relative;
  float: right;
  background-color: #ff9933;
  left: 33.3%;
}

#show-view-title {
  float: left;
  background-color: #8fd400;
  left: -38%;
  width: 35%;
}
#category-title {
  background-color: #fafa37;
  left: 0%;
}
#help{
  margin-left: 50%;
  margin-top: 2%;
}
.header-title {
  max-width: 99%;
  position: relative;
  color: transparent;
  width: 32.9%;
  padding: 1%;
  z-index: -1;
  margin-top: -3%;
}

@media screen and (min-width:1250px)
{
  :root,body,html,*{
    max-width:1200px;
  }
}
@media screen and (max-width: 860px){
  :root,body,html,*{
    max-width: 90%/* 750px */;
  }
  #show-view-title {
    left: -40.5%;
    width: 36%;
  }
}
@media screen and (max-width: 750px){
  :root,body,html,*{
    max-width:660px
  }
  #show-view-title {
    left: -41%;
  }
}
@media screen and (max-width: 600px) {
  :root,body,html,*{
    max-width:510px
  }
  .MuiCardContent-root {
    padding-left: 0%;
  }
  [class^='large'] {
    align-items: center;
    margin-left: 0.5%;
  }
  #show-view-title {
    left: -43%;
    width: 37%;
  }
}
@media screen and (max-width: 500px){
  :root,body,html,*{
    max-width:410px;
  }
  #show-view-title {
    left: -46.5%;
    width: 38%;
  }
}
@media screen and (max-width: 431px) {
  :root,body,html,*{
    max-width:370px;
  }
  [id^='large'] {
    max-width: 90% ;
    margin-left: -5%;
    padding-left: 0%;
    padding-right: 0%;
  }
  #show-view-title {
    left: -33%;
    width: 33%;
  }
}
@media screen and (max-width: 360px){
  :root,body,html,*{
    max-width: 99%;
    margin-left:0px;
    margin-right: 0px;
  }
  [id^='large'] {
    max-width: 92%;
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
  #review-title {
    left: 66%;
  }
  #category-title {
    left: 33%;
  }
  #show-view-title {
     left: 0%;
    width: 32%;
  }
}
@import './login-up_react';
@import './show';
@import './review';
@import './upon';
@import './font_responsive';
